body{
   margin:0;
   font-family: "Times New Roman";
}

.container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 0.2fr 1fr 1fr;
   grid-template-areas: 
   "a . b b"
   "c d e f"
   "g g g f"; 
   grid-row-gap:20px;
   grid-column-gap: 20px;
   padding:20px;
   min-height: 100vh;
}

.menu1 {
   grid-area: a;
   background: #d49ee4;
}

.menu2 {
   grid-area: b;
   background: #fffb7c;
}

article {
   background: #62d7f4
}
.card1 {
   grid-area: c;
}

.card2 {
   grid-area: d;
}

.card3 {
   grid-area: e;
}

.main {
   grid-area: g;
   background: #62d7f4;
}

.aside {
   grid-area: f;
   background: #a5a5a5;
}

@media (max-width: 1024px) {
   /* tablet layout here */
   .container {
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 0.2fr 0.2fr 1fr 1fr 1fr;
   grid-template-areas: 
   "a b"
   "f f"
   "c d"
   "e e"
   "g g"; 
   }
}

@media (max-width:600px) {
   .container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.2fr 0.2fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: 
      "a ."
      "b b"
      "c c"
      "d d"
      "e e"
      "g g"
      "f f"; 
      }
   }
