
.btn1 {
  background-color: rgb(71, 49, 151);
  color: rgb(253, 253, 253);
}

body{
  background-color: rgb(225, 198, 252);
}

.navbar {
  padding: 20px;
  background-color: rgb(75, 38, 99);
  display: flex;
  align-items: center;
  justify-content: center;
  color:rgb(38, 0, 144)
}

.navbar a{
  margin-right: 15px;
}

.navbar strong {
  margin-right: 15px;
}



/* body {
  font-family: Raleway;
  margin: 0;
  align-items: center;
justify-content: center;
}
.navbar {
  padding: 20px;
  background-color: rgb(240, 160, 160);
  display: flex;
  align-items: center;
  justify-content: center;
  color:rgb(38, 0, 144)
}
.navbar a{
  margin-right: 15px;
}

.navbar strong {
  margin-right: 15px;
}

body {
  height:100%;
  text-align: center;
  margin: 0;
  padding:0;
  background-color: rgb(90, 29, 133);
  color: rgb(39, 101, 159);
};

.button {
  background-color: aqua;
} */

