body {
    font-family: Raleway;
    margin: 0;
    align-items: center;
	justify-content: center;
}

.navbar {
    padding: 20px;
    background-color: rgb(240, 160, 160);
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(0, 74, 144)
}
.navbar a{
    margin-right: 15px;
}

.navbar strong {
    margin-right: 15px;
}

.navbarn {
    padding: 20px;
    background-color: rgb(198, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(255, 255, 255)
}
.navbarn a{
    margin-right: 15px;
}

.navbarn strong {
    margin-right: 15px;
}
body {
    height:100%;
    align-content: center;
    margin: 0;
    padding:0;
    background-color: rgb(203, 227, 250);
    color: rgb(0, 74, 144);
}
body * {
    box-sizing: border-box;
    /* border: solid 1px #000; */
}

main {
    background-color: rgb(203, 227, 250);
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto 20vh;
    grid-template-areas:
      "top"
      "bottom";
    height: 100vh;
    width: 100vw;
	justify-content: center;
	align-items: center;
    
}
/* }
#featured {
    grid-area: top;
}
.cards {
    grid-area: bottom;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0 px;
    padding-top: 10px;
    list-style: none;
    justify-content: center;
}
.card {
    width: 200px;
    height: 200px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
}
.image.active {
    border: solid 5px black;
}

.image:hover {
    opacity: 0.7;
}

.preview_box {
    width: 100%;
    height: 100%;
}

.featured_image {
    width: 750px;
    height: 750px;
    margin: auto;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.next, .prev, .close {
    position: absolute;
    color: rgb(255, 255, 255);
    border-width: 0px;
    font-size: 2.5em;
}
.next, .prev {
    background: rgb(156, 156, 156);
    border-radius: 60px;
    width: 60px;
    height: 60px;
    padding-bottom: 5px;
}
.next:hover, .prev:hover, .close:hover {
    background: rgba(255,255,255,0.4);
}
.prev {
    top: 35vh;
    left: 2vw;
}
.next {
    top: 35vh;
    right: 2vw;
}
 */



/* Media Queries */
/* @media (max-width: 800px) {
    main {
        grid-template-rows: 1fr;
        grid-template-areas:
          "top";
    }
    main .cards { display: none; }
}  */

